{% extends 'base_backend.html' %}

{% block page_title %} Editor - {{ parent() }} {% endblock %}
{% block slug %} id="editor"{% endblock %}

{% block main %}
  <form action="/editor" method="POST">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="status" value="{{ status }}">
    <h4>{% if message is defined %}{{ message | raw }}{% else %}&nbsp;{% endif %}</h4>
    <p><input type="text" name="title" placeholder="Title" value="{{ title }}" required></p>
    <p><input type="text" name="slug" placeholder="Slug" value="{{ slug }}" disabled></p>
    <textarea id="text-input" name="content" placeholder="Markdown" oninput="this.editor.update()" required autofocus>{{ content | raw }}</textarea>
    <p><input type="text" name="publish_date" placeholder="Publish Date" value="{{ publish_date | date('F d, Y h:ia') }}"></p>
    <p>
      <label><input type="radio" name="type" value="post" {% if type != 'page' %}checked="checked"{% endif %}> Post</label>
      <label><input type="radio" name="type" value="page" {% if type == 'page' %}checked="checked"{% endif %}> Page</label>
    </p>
    <p class="menu">
      <label><input type="checkbox" name="main_menu" {% if main_menu %}checked="checked"{% endif %}> Show on navigation menu</label>
      <input type="text" name="seq" placeholder="Sequence" value="{{ seq }}">
    </p>
    <p class="buttons">
      <input type="submit" name="action" value="Preview">
      <input type="submit" name="action" value="Save">
      <input type="submit" name="action" value="{% if status == 'published' %}Unpublish{% else %}Publish{% endif %}">
    </p>
    <p>{% if id %}<a href="/editor/delete/{{ id }}">[Delete]</a> | {% endif %}<a href="/logout">[Logout]</a></p>
  </form>
  <div class="preview">
    <div class="wrap">
      <header class="clearfix">
          <h1>{{ title }}</h1>
          <div class="post-meta">{{ publish_date | date('F d, Y') }}</div>
      </header>
      <div id="preview">
      {{ html | raw }}
      </div>
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/js/markdown.js"></script>
  <script>
    var scroll;
    (function($) {
      scroll = function() {
        var textarea_current = $('#text-input').scrollTop();
        var textarea_height = $('#text-input')[0].scrollHeight - $('#text-input').innerHeight();
        var textarea_percent = textarea_current / textarea_height;

        var preview_height = $('.preview')[0].scrollHeight - $('.preview').innerHeight();
        var preview_current = parseInt(textarea_percent * preview_height);
        $(".preview").scrollTop(preview_current);
      };

    })(jQuery);

    function Editor(input, preview) {
      this.update = function () {
        preview.innerHTML = markdown.toHTML(input.value);
        scroll();
      };
      input.editor = this;
      this.update();
    }
    var $ = function (id) { return document.getElementById(id); };
    new Editor($("text-input"), $("preview"));
  </script>
{% endblock %}