<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>camelCase</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/editor.css">

        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
      <form action="/editor" method="POST">
        <p><input type="text" name="title" placeholder="Title" value="{{ title }}" required></p>
        <p><input type="text" name="slug" placeholder="Slug" value="{{ slug }}"></p>
        <textarea id="text-input" name="content" placeholder="Markdown" oninput="this.editor.update()" required autofocus>{{ content }}</textarea>
        <p>
          <label><input type="radio" name="type" value="post" checked="checked"> Post</label>
          <label><input type="radio" name="type" value="page"> Page</label>
        </p>
        <p class="menu">
          <label><input type="checkbox" name="main_menu"> Show on navigation menu</label>
          <input type="text" name="seq" placeholder="Sequence">
        </p>
        <p class="buttons">
          <input type="submit" name="action" value="Preview">
          <input type="submit" name="action" value="Save">
          <input type="submit" name="action" value="Publish">
        </p>
        <p><a href="/logout">[Logout]</a></p>
      </form>
      <div class="preview">
        <div class="wrap">
          <header class="clearfix">
              <h1>{{ title }}</h1>
              <div class="post-meta">{{ publish_date | date('F d, Y') }}</div>
          </header>
          <div id="preview">
          {{ preview | raw }}
          </div>
        </div>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script src="/js/markdown.js"></script>
      <script>
        var scroll;
        (function($) {
          scroll = function() {
            var textarea_current = $('#text-input').scrollTop();
            var textarea_height = $('#text-input')[0].scrollHeight - $('#text-input').innerHeight();
            var textarea_percent = textarea_current / textarea_height;

            var preview_height = $('.preview')[0].scrollHeight - $('.preview').innerHeight();
            var preview_current = parseInt(textarea_percent * preview_height);
            $(".preview").scrollTop(preview_current);
          };

        })(jQuery);

        function Editor(input, preview) {
          this.update = function () {
            preview.innerHTML = markdown.toHTML(input.value);
            scroll();
          };
          input.editor = this;
          this.update();
        }
        var $ = function (id) { return document.getElementById(id); };
        new Editor($("text-input"), $("preview"));
      </script>
    </body>
</html>
