{% extends 'base_backend.html' %}

{% block page_title %}Login - {{ parent() }}{% endblock %}
{% block slug %} id="login"{% endblock %}

{% block main %}
  <form action="/login" method="POST">
      <h2>{% if message is defined %}{{ message }}{% else %}Login to continue.{% endif %}</h2>
      <p><input type="text" name="username" placeholder="username" required autofocus></p>
      <p><input type="password" name="password" placeholder="password" required></p>
      <p><input type="submit" value="Login"></p>
  </form>
{% endblock %}