{% extends 'base.html' %}
{% block main %}

  <article class="post">
    <header class="clearfix">
        <h1>{{ page.title }}</h1>
        <div class="post-meta">{{ page.publish_date | date('F d, Y') }}</div>
    </header>
    {{ page.content | raw }}
  </article>
  <nav class="post-nav clearfix">
      <div class="prev">
          <a href="#">
              <small>&laquo; Older</small><br>
              This Is Previous Title
          </a>
      </div>
      <div class="next">
          <a href="#">
              <small>Newer &raquo;</small><br>
              This Is Next Title
          </a>
      </div>
  </nav>

{% endblock %}